* {
    box-sizing: border-box;
    font-family: "Arial, Helvetica, sans-serif", Arial;
  }

body {
    margin: 1;
    background-color: #ddd;
    }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;}
  
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;}
  
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;}

  /* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;}


  /* GRIDS*/


  .item1 { grid-area: image1; 
    background-color: #ddd;
    padding: 20px 0;
    width: 100%;
    height: 400px;
    background-image: url('images/colosseum.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px
    }

  .item2 { grid-area: main; 
    background-color: #333;
    text-align: center;
    padding: 50px 0;
    font-size: 30px;   
    border-radius: 30px 
}

  .item3 { grid-area: image2; 
    background-color:#ddd;
    width: 100%;
    height: 400px;
    background-image: url('images/temple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px
    }

.grid-container {
    display: grid;
    grid-template-areas:
        'image1 main image2'
        'image1 main image2'
        'image1 main image2';
    gap: 10px;
    background-color: #ddd;
    padding: 10px;
    }

   /* Style the top navigation bar */
   .menu {
    overflow: hidden;
    background-color: #333;
    border-radius: 30px
  }
  
  /* Style the topnav links */
  .menu a {
    float: none;
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    border-radius: 30px;
    padding: 40px
  }
  
  /* Change color on hover */
  .menu a:hover {
    background-color:#ddd;
    color: black;
  }


h1 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    }

    h1.author {
      color: black;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 300%;
      text-align: left;
      }
h2 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 4em; 
    }

    h2.author{
      color: black;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 200%;
      text-align: left;
      margin-top: 4em; 
      }

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    text-align: left;
} 
p.author {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160%;
  text-align: left;
} 
  
  img {
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
  }


/* SINGLE TEXTS page */


.Lat { grid-area: testoLat; 
  background-color: #ddd;
  padding: 50px;
  font-size: 20px;   
  text-align: left;

  }

.It { grid-area: testoIt; 
  background-color: #cbcaca;
  text-align: left;
  padding: 50px;
  font-size: 20px;   
}

.tenda { grid-area: tenda; 
  background-color:#acaaaa;
  border-radius: 20px;
  text-align: left;
  padding: 50px;
  }

.grid-container-author {
  display: grid;
  grid-template-areas:
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda'
      'testoLat testoIt tenda';
  gap: 10px;
  background-color: #ddd;
  padding: 10px;
  }





  /* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 30px;
  }

  /*
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } 
  
    Style the footer
    .footer {
        background-color: #f1f1f1;
        padding: 10px;
      }
      */
  